html,
body
{
   font-family: 'Roboto', sans-serif;
   background-color: #27272B;
   width: 100%;
   max-width: 100%;
   height:100%;
   max-height:100%;
   padding:0;
   margin:0;
}

.h-background{
   background-color: #1c1c1f;
}

::-webkit-scrollbar {
   width: .5em;
   height: .5em;
}

::-webkit-scrollbar-track {
   background-color: #555;
}

::-webkit-scrollbar-thumb {
   background-color: #777;
   border: 2px solid #555;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #444;
}

@supports (scrollbar-color: #555 #777){
   *{
      scrollbar-color: #555 #777;
      scrollbar-width: thin;
   }
}

.active-drop{
   background-color: #1a1818 !important;
}

button{
   font-size: 0.8rem !important;
   box-shadow: none !important; 
   outline: none !important;
   color: #fff !important;
   background-color: transparent;
   border: 1px solid #0796A7 !important;
   border-radius: 5px !important;
}

button:focus{
   color: #fff !important;
   background-color: #0796A7 !important;
}

.btn-bottom{
   border-top: 0 !important;
   border-right: 0  !important;
   border-bottom: 1px solid #0796A7 !important;
   border-left: 0 !important;
}

.box-color{
   background-color: #202020;
   width: 100%;
   padding: 20px;
}

.cornerstone-element {
   position: absolute;
   height: calc(100% - 140px);
   width: calc(100% - 250px);
}

#video-section{
   transition:0.5s
}

.accordion, .accordion-item{
   background-color: transparent !important;
}

.accordion-button{
   font-size: 12px;
   padding: 5px !important;
   background-color: #0796A7;
   color: #fff;
   border-radius: 0px !important;
}

.accordion-button :hover{
   font-size: 12px;
   padding: 5px !important;
   background-color: #0796A7;
   color: #101010;
   border-radius: 0px !important;
}

.form-select{
   font-weight: 100;
   color: #fff;
   background-color: transparent;
   border: 2px solid #0796A7 !important;
   border-radius: 0px !important;
   width: 100%;
   cursor: pointer;

}

.options, .active{
   background-color: #0796A7 !important;
   color: #fff !important;
   font-size: 12px !important;
}


.dropdown-menu-dark{
   background-color: #202020;
}

 .hide{
   display: none;
 }

 .hidden{
   overflow: hidden;
   height: 0px;
   opacity: 0;
   transition: all 1s ease-in;
 }

 .shown{
   opacity: 1;
   height: 100%;
   transition: all 1s ease-in;
 }

 .video-box{
   padding: 2px;
   position: relative;
 }

 .chat-wrapper{
   position: fixed;
   bottom: 0px;
   left: 0px;
   z-index: 900;
 }

.chats{
   transition: all 0.5s;
   border: none !important;
   font-size: 12px !important;
   padding: 5px !important;

}

#local-video {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 40%;
   border-radius: 6px;
}

#remote-video {
   width: 100%;
   height: 100%;
}

.btn-group, .dropdown-toggle{
   padding: 0.22rem !important;
   margin: 0 !important;
}

.dx-logo-wrapper{
   max-width: 200px;
   min-width: 150px;
}

.dx-tool-wrapper{
   min-width: 990px;
}