<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,
			shrink-to-fit=no" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="description" content="DICOM-X is an AI-assisted DICOM Viewer
			for
			radiologists and
			doctors. It is a Cloud-based, AI assisted DICOM Viewer that provides
			a
			cutting edge experience in analyzing medical images such as CT ,
			MRI, etc.
			highlights
			the suspicious abnormal regions." />
		<meta name="keywords" content="Xolani, xolanihealth.com, DICOM-X, AI,
			Artificial Intelligence,
			Machine Learning, upper extremity, shoulder, humerus, elbow,
			forearm,
			wrist, hand, finger, bone, HealthTech, Startup, medical imaging
			technologies, musculoskeletal radiographs, X-rays, covid 19,
			malaria,
			breast cancer, xolanet, XolaNet Dataset, echocardiography,
			echocardiogram,
			EF, EDV, SV, scan, AI model, health care, musculoskeletal
			radiographs,
			XolaNet models, XolaNet, IDC, invasive Ductal Carcinoma, DICOM,
			DICOM-X,
			DICOM Viewer, heatmap" />
		<title>DICOM-X Signup</title>
		<!-- DICOM-X icon -->
		<link rel="shortcut icon" sizes="196x196"
			href="/images/xolani-logo-round.png" />
		<!-- style -->
		<link rel="stylesheet" href="/css/animate.min.css"
			type="text/css" />

		<!-- Google Fonts Roboto -->
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
			/>
		<!-- Google Material icon -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet" />
		<!-- MDB -->
		<link rel="stylesheet" href="/css/mdb.min.css" type="text/css"/>
		<!-- Custom styles -->
		<link rel="stylesheet" href="/css/custom-styles.css" type="text/css"/>
		<!-- External javascript -->
	</head>
	<body>

	{{{body}}}

	<script type="text/javascript" src="/js/mdb.min.js"></script>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<!-- Custom scripts Start-->
	<script src="/js/signup.js"></script>
	<!-- Custom scripts End -->

	</body>
</html>